<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Device Allocator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Dashboard</h1>
        <a href= {% url "adddevice" %}>New device</a><br>
        <a href={% url "addemployee" %}>New Employee</a><br>
        <a href={% url "devices" %}>Company Devices</a><br>
        <a href={% url "employee" %}>Company Employees</a><br>
        <a href={% url "logout" %}>Log out</a>
        <script src="" async defer></script>
    </body>
</html>