<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Device log</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Device log ID: {{id}}</h1>
        <a href={% url "dashboard" %}>Go to Dashboard</a>
        {% if not log %}<p>No entities yet to show</p>{% endif %}
        {% for i in log %}
        <h3>Serial Number{{ forloop.counter }}</h3>
        <p>Assigned to: {{i.employee_id}}</p>
        <p>Assigned condition: {{i.assigned_condition}}</p>
        <p>Assigned date and time: {{i.assigned_at}}</p>
        {% if i.returned_condition %}
        <p>Returned condition: {{i.returned_condition}}</p>
        <p>Returned date and time: {{i.returned_at}}</p>
        {% else %}
        <p>Return status: Not Returned</p>
        {% endif %}
        {% endfor %}
        <form method="POST" action="{% url "removedevice" %}">
            <input type='hidden' value='{{i.device_id}}' name='device_id'>
            <input type ='submit' value="Remove Device">
        </form>
        <script src="" async defer></script>
    </body>
</html>