<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Registered Employees</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Registered Employees</h1>
        <a href={% url "dashboard" %}>Go to Dashboard</a>
        {% if not employees %}<p>No entities yet to show</p>{% endif %}
        {% for employee in employees %}
        <h3>Employee Number: {{ forloop.counter }}</h3>
        <p>ID: {{employee.id}}</p>
        <p>Name: {{employee.name}}</p>
        <p>Department: {{employee.department}}</p>
        <p>Position: {{employee.position}}</p>
        <p>Created: {{employee.created_at}}</p>
        <button><a href="/employeelog/{{employee.id}}" >Employee Log</a></button>
        <form method="POST" action="{% url "removeemployee" %}">
            {% csrf_token %}
            <input type='hidden' value='{{employee.id}}' name='employee_id'>
            <input type ='submit' value="Remove employee">
        </form>
        {% endfor %}
        
        <script src="" async defer></script>
    </body>
</html>